<h1>Mis Revisiones</h1>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <span class="d-flex justify-content-center">Id Revision</span>
        </th>
        <th scope="col">
          <span class="d-flex justify-content-center"
            >Titulo del documento</span
          >
        </th>
        <th scope="col">
          <span class="d-flex justify-content-center">Estado</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rev of reviews">
        <td>
          <span class="d-flex justify-content-center">{{ rev._id }}</span>
        </td>
        <td>
          <span class="d-flex justify-content-center">{{ rev.fileTitle }}</span>
        </td>
        <td>
          <span class="d-flex justify-content-center">{{ rev.state }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive" *ngIf="isReviewer && pendingReviwes && pendingReviwes.length > 0">
  <h1>Revisiones pendientes</h1>
  <table class="table" >
    <thead>
      <tr>
        <th scope="col">
          <span class="d-flex justify-content-center">Id Revision</span>
        </th>
        <th scope="col">
          <span class="d-flex justify-content-center"
            >Titulo del documento</span
          >
        </th>
        <th scope="col">
          <span class="d-flex justify-content-center">Estado</span>
        </th>
        <th scope="col">
          <span class="d-flex justify-content-center">Opciones</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rev of pendingReviwes">
        <td>
          <span class="d-flex justify-content-center">{{ rev._id }}</span>
        </td>
        <td>
          <span class="d-flex justify-content-center"
            ><a (click)="getDocumentByIdReview(content, rev._id)">{{
              rev.fileTitle
            }}</a></span
          >
        </td>
        <td>
          <span class="d-flex justify-content-center">{{ rev.state }}</span>
        </td>
        <td>
          <a (click)="openModal(comment)"><i class="bi bi-card-list"></i></a>
          <a (click)="changeStateRevision(rev._id, acceptedState)"
            ><i class="bi bi-check"></i
          ></a>
          <a (click)="changeStateRevision(rev._id, rejectedState)"
            ><i class="bi bi-x"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #comment let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Comentarios</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <span class="d-flex justify-content-center">Nombre</span>
          </th>
          <th scope="col">
            <span class="d-flex justify-content-center">Comentario</span>
          </th>
          <th scope="col">
            <span class="d-flex justify-content-center">Opciones</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let com of comments">
          <td>
            <span class="d-flex justify-content-center">{{
              com.nameOwner
            }}</span>
          </td>
          <td>
            <span class="d-flex justify-content-center">{{
              com.description
            }}</span>
          </td>
          <td>
            <span class="d-flex justify-content-center">
              <div class="form-check">
                <a (click)="changeStateComment(com._id, acceptedState)"
                  ><i class="bi bi-check"></i
                ></a>
                <a (click)="changeStateComment(com._id, rejectedState)"
                  ><i class="bi bi-x"></i
                ></a>
                <a (click)="deleteComment(com._id, com.idOwner)"
                  ><i class="bi bi-trash-fill"></i
                ></a>
              </div>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <ngx-extended-pdf-viewer
      *ngIf="pdfUrl"
      [src]="pdfUrl"
      [height]="'95%'"
      [useBrowserLocale]="true"
      [textLayer]="true"
      [showHandToolButton]="true"
    >
    </ngx-extended-pdf-viewer>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="openModal(comm, 'xl')"
    >
      Crear Comentario
    </button>
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>

<ng-template #comm let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Comentario</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Comentario</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        [(ngModel)]="commentValue"
      ></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="createComment()">
      Crear Comentario
    </button>
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>
